@font-face{ 
	font-family: "HK Grotesk2";
	src: url('../fonts/hkgrotesk-regular.eot');
	src: url('../fonts/hkgrotesk-regular.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/hkgrotesk-regular.woff') format('woff'),
	     url('../fonts/hkgrotesk-regular.ttf') format('truetype'),
	     url('../fonts/hkgrotesk-regular.svg#webfont') format('svg');
}

body {
  font-family: "HK Grotesk2";
  font-size: 1.7rem;

  background-image: url("../images/back_simple.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: top;

}

li {
  font-size: 1.5rem;
  list-style: inside;
}

.vt-gray { color: #747b8e}

.mt12 { margin-top: 12px; }
.mt24 { margin-top: 24px; }

.mt64 { margin-top: 64px; }

.mt2 { margin-top: 2rem; }
.mb2 { margin-bottom: 2rem; }

.mt4 { margin-top: 4rem; }
.mb4 { margin-bottom: 4rem; }

.mt6 { margin-top: 6rem; }
.mb6 { margin-bottom: 6rem; }

.ml4 { margin-left: 4rem; }
.mt8 { margin-top: 8rem; }

a {
  color: #222;
  text-decoration: none;
}

a:hover {
  /* text-decoration: underline; */
}


.r-tabs-state-default a {
    color: #ccc;
}

.docs-section {
  padding: 4rem 0 2rem 0;
  margin-bottom: 0;
}

.button.button-primary, button.button-primary, input[type="submit"].button-primary, input[type="reset"].button-primary, input[type="button"].button-primary {
  color: #FFF;
  background-color: #5DA576;
  border-color: #5DA576;
  font-size: 1.3rem;
}

table tr td:second {
  text-align: center;
}

table tr td:third {
  text-align: center;
}

table th {
  font-weight: 600;
}

.text-center {
  text-align: center;
}

.docs-header-main {
  text-transform: uppercase;
  font-size: 1.8rem;
  letter-spacing: .2rem;
  font-weight: 600;
  text-align: left;
}

.docs-header-gray {
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: .2rem;
  font-weight: 600;
  text-align: left;
  color: #747b8e;
}

.main-price-header {
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: .2rem;
  font-weight: 600;
  text-align: left;
  color: #7f828c;
}

.main-price-package {
  text-transform: uppercase;
  font-size: 1.4rem;
  letter-spacing: .2rem;
  font-weight: 600;
  text-align: center;
}

.docs-header {
  text-transform: uppercase;
  font-size: 1.8rem;
  letter-spacing: .2rem;
  font-weight: 600;
  text-align: left;
  margin-bottom: 3em;
}

.docs-header-tab {
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 500;
  text-align: center;
}

.floater-image {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  display: none;
  margin-top: -2rem;
  left: 0;
  right: 0;
  text-align: center;
  opacity: 0.07;
  height: 8rem;
}

.mt-4 { margin-top: -4rem; }
.mt-4 { margin-top: -3rem; }

.vt-img {
  height: 26rem;
}

.vt-img-creator {
  height: 32rem;
}

.flip {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
}

.footer {
  height: 40rem;
}

.footer-img {
  height: 2rem;
}

.formula-1 {
  height: 8rem;
}
.formula-2 {
  height: 7rem;
}
.formula-3 {
  height: 9rem;
}

table td:first-child {
  font-size: 1.5rem;
}

.text-right { text-align: right; }


.footer-header { 
  font-size: 1.8rem;
  font-weight: 400;
  display: none;
}

@media (min-width: 550px) {
  .footer-header { 
    display: block;
  }
}

.footer-link-header {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 2rem;
}


.footer-link {
  display: block;
  width: fit-content;
  margin-left: auto;s
}

.footer-link:hover {
  text-decoration: underline;
}

.block { display: block; }
