@font-face{ 
  font-family: "HK Grotesk Regular";
  font-display: swap;
	src: url('../fonts/hkgrotesk-regular.eot');
	src: url('../fonts/hkgrotesk-regular.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/hkgrotesk-regular.woff') format('woff'),
	     url('../fonts/hkgrotesk-regular.ttf') format('truetype'),
       url('../fonts/hkgrotesk-regular.svg#webfont') format('svg');
}

@font-face{ 
  font-family: "HK Grotesk 300";
  font-display: swap;
	src: url('../fonts/hkgrotesk-light.eot');
	src: url('../fonts/hkgrotesk-light.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/hkgrotesk-light.woff') format('woff'),
	     url('../fonts/hkgrotesk-light.ttf') format('truetype'),
       url('../fonts/hkgrotesk-light.svg#webfont') format('svg');
       
}

@font-face{ 
  font-family: "HK Grotesk 600";
  font-display: swap;
	src: url('../fonts/hkgrotesk-semibold.eot');
	src: url('../fonts/hkgrotesk-semibold.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/hkgrotesk-semibold.woff') format('woff'),
	     url('../fonts/hkgrotesk-semibold.ttf') format('truetype'),
	     url('../fonts/hkgrotesk-semibold.svg#webfont') format('svg');
}

@font-face{ 
  font-family: "HK Grotesk 500";
  font-display: swap;
	src: url('../fonts/hkgrotesk-medium.eot');
	src: url('../fonts/hkgrotesk-medium.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/hkgrotesk-medium.woff') format('woff'),
	     url('../fonts/hkgrotesk-medium.ttf') format('truetype'),
	     url('../fonts/hkgrotesk-medium.svg#webfont') format('svg');
}

body {
  font-family: "HK Grotesk Regular", "Helvetica Neue", "Arial", sans-serif;
  font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "HK Grotesk 300", "Inter", "Helvetica Neue"
}

p > b {
  font-family: "HK Grotesk 500";
}

.fw400 {
  font-family: "HK Grotesk Regular" !important;
}

.fw300 {
  font-family: "HK Grotesk 300" !important;
}

.fw500 {
  font-family: "HK Grotesk 500" !important;
}

form label, form input {
  font-size: 15px;
}

form label {
  font-family: "HK Grotesk 600";
}

.docs-header-main {
  font-family: "HK Grotesk 600", "Inter", "Helvetica Neue";
  text-transform: uppercase;
  font-size: 1.8rem;
  letter-spacing: .2rem;
  text-align: left;
}

.docs-header-gray {
  font-family: "HK Grotesk 600", "Inter", "Helvetica Neue";
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: .2rem;
  text-align: left;
  color: #747b8e;
}

.docs-header {
  font-family: "HK Grotesk 600", "Inter", "Helvetica Neue";
  text-transform: uppercase;
  font-size: 1.8rem;
  letter-spacing: .2rem;
  text-align: left;
  margin-bottom: 3em;
}

.docs-header-tab {
  font-family: "HK Grotesk 600", "Inter", "Helvetica Neue";
  
  text-transform: uppercase;
  font-size: 1.6rem;
  text-align: center;
}

li {
  font-size: 1.5rem;
  list-style: inside;
}

.vt-gray { color: rgb(111, 111, 111); }
.vt-green { color: #63AA98 }
.vt-black { color: #222 }


.mt12 { margin-top: 12px; }
.mt24 { margin-top: 24px; }
.mt48 { margin-top: 48px; }
.mt64 { margin-top: 64px; }

.mt2 { margin-top: 2rem; }
.mb2 { margin-bottom: 2rem; }

.mt4 { margin-top: 4rem; }
.mb4 { margin-bottom: 4rem; }

.mt6 { margin-top: 6rem; }
.mb6 { margin-bottom: 6rem; }

.ml4 { margin-left: 4rem; }
.mt8 { margin-top: 8rem; }

a {
  color: #222;
  text-decoration: none;
}

a:hover {
  /* text-decoration: underline; */
}


a.text-link {
  color: #336cd4;
  text-decoration: underline;
}

a.text-link:hover {
  text-decoration: underline;
}

a.text-link:visited {
  color: #336cd4;
}


.r-tabs-state-default a {
    color: #ccc;
}

.docs-section {
  padding: 4rem 0 2rem 0;
  margin-bottom: 0;
}

.button.button-primary, button.button-primary, input[type="submit"].button-primary, input[type="reset"].button-primary, input[type="button"].button-primary {
  font-size: 0.8em;
}

table tr td:second {
  text-align: center;
}

table tr td:third {
  text-align: center;
}

.text-center {
  text-align: center;
}

.text-just {
  text-align: justify;
}

.mt-4 { margin-top: -4rem; }
.mt-4 { margin-top: -3rem; }

.vt-img {
  height: 26rem;
}

.vt-img-creator {
  height: 32rem;
}

.flip {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
}

.footer {
  margin-top: 8em;
  margin-bottom: 2em
}

.badges {
  margin-top: 12px;
}

.badges object {
  margin-right: 1.5em;
}

.footer-img {
  height: 2rem;
  width: auto;
}

.text-left { text-align: left; }
.text-right { text-align: right; }


.footer-header { 
  font-size: 18px;
  display: none;
  margin-top: 8px;
}

@media (min-width: 550px) {
  .footer-header { 
    display: block;
  }
}

.footer-link-header {
  font-size: 1.6rem;
  line-height: 12px;
  font-family: "HK Grotesk 500";
  margin-bottom: 18px;
}


.footer-link {
  display: block;
  width: fit-content;
  margin-left: auto;
  font-size: 1.6rem;
}

.footer-link:hover {
  text-decoration: underline;
}

.block { display: block; }


.docs-seperator {
  text-align: center;
}

.step-content {
  text-align: left;
  margin-top: 2em;
}

.step-gray-title {
  color:  rgb(111, 111, 111);
  display: block;
  margin-top: 0.5em;
  margin-bottom: 2em;

  font-family: "HK Grotesk 600", "Inter", "Helvetica Neue";
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: .3rem;
}

.step-header-text {
  font-size: 18px;
  text-align: center;
}

.step-header-text-reverse {
  font-size: 18px;
  text-align: center;
}

.step-columns {
  text-align: left;
}


.step-columns p {
  padding-right: 3em;
}

.step-header-text p:first-child {
  display: inline;
}

.step-header-text p:last-child {
  /* font-family: "HK Grotesk 500"; */
  display: inline;
}

.step-header-text-reverse p:first-child {
  /* font-family: "HK Grotesk 500"; */
  display: inline;
}

.step-header-text-reverse p:last-child {
  /* font-family: "HK Grotesk Regular"; */
  display: inline;
}

.inter-header {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 1.8em;
}

.inter-header-small {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 1.2em;
  letter-spacing: -.05em;
  margin-bottom: 12px;
}

.sept-title {
  font-family: "HK Grotesk 600", "Inter", "Helvetica Neue";
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: .3rem;
}

.sep-cont {
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 1px;
  max-width: 100%;
  flex: var(--flex);
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
}

.sep-cont-margin-free {
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 1px;
  max-width: 100%;
  flex: var(--flex);
  justify-content: center;
  align-items: center;
}


.line50 {
  block-size: 50px !important;
}

.sep-line {
  align-self: center;
  block-size: 100px;
  box-sizing: border-box;
  display: block;
  width: 1px;
  background: rgba(0, 0, 0, 0) linear-gradient(rgb(254, 254, 254), rgb(24, 24, 24)) repeat scroll 0% 0% / auto padding-box border-box;
  font: 16px Inter, -apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  padding: 0px 1px 0px 0px;
}

.sep-line-reverse {
  align-self: center;
  block-size: 100px;
  box-sizing: border-box;
  display: block;
  width: 1px;
  background: linear-gradient(rgb(254, 254, 254), rgb(24, 24, 24)) rgba(0, 0, 0, 0) repeat scroll invert 0% 0% / auto padding-box border-box;
  font: 16px Inter, -apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  padding: 0px 1px 0px 0px;
}

.sep-line-solid {
  align-self: center;
  block-size: 100px;
  box-sizing: border-box;
  display: block;
  width: 1px;
  background: rgba(0, 0, 0, 0) linear-gradient(rgb(24, 24, 24), rgb(24, 24, 24)) repeat scroll 0% 0% / auto padding-box border-box;
  font: 16px Inter, -apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  padding: 0px 1px 0px 0px;
}


.sep-line-long {
  align-self: center;
  block-size: 150px;
  box-sizing: border-box;
  display: inline-block;
  width: 1px;
  background: rgba(0, 0, 0, 0) linear-gradient(rgb(254, 254, 254), rgb(24, 24, 24)) repeat scroll 0% 0% / auto padding-box border-box;
  font: 16px Inter, -apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  padding: 0px 1px 0px 0px;

}

.sep-circle {
  align-items: center;
  block-size: 40px;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  display: inline-flex;
  height: 40px;
  justify-content: center;
  text-rendering: optimizelegibility;
  border-radius: 100% 100% 100% 100%;
  width: 40px;
  background: rgba(0, 0, 0, 0) linear-gradient(90deg, rgb(24, 24, 24), rgb(102, 102, 102)) repeat scroll 0% 0% / auto padding-box border-box;
  font: 700 16px Inter, -apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  margin: 0px 0px 24px;
  outline: rgb(255, 255, 255) none 0px;
}

.navbar-logo {
  float: left;
  width: 80px;
  height: auto;
  padding-top: 25px;
}

/* Features page */
.feature-list li {
  list-style-type: square;
}

.feature-row {
  text-align: left;
  margin-top: 4em;
}

.feature-row-center {
  text-align: center;
  margin-top: 2em;
}

.features-menu {
  list-style-type: none;
}

.features-menu li {
  font-family: "HK Grotesk 600", "Inter", "Helvetica Neue";
  text-transform: uppercase;
  font-size: 1.4rem;
  letter-spacing: .3rem;
  color: #747b8e;
  
  display: inline;
  margin-left: 1em;
}

.features-menu .selected {
  background-color: #222;
  color: white;
  border-radius: 2px;
  padding: 2px 8px;
}

.feature-title {
  font-family: "HK Grotesk 600", "Inter", "Helvetica Neue";
  text-transform: uppercase;
  letter-spacing: .3rem;

  font-size: 1.7rem;
  margin-bottom: 1em;
  display: block;
}

.feature-bullet {
  font-family: "HK Grotesk 600", "Inter", "Helvetica Neue";
  text-transform: uppercase;
  letter-spacing: .3rem;
  
  font-size: 1.2rem;
  margin-bottom: 1em;
}

.ft-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 3em;
}

.ft-video-container {
  padding-top: 2em;
  text-align: center;
}

.ft-video-container iframe {
  width: 460px;
  height: 260px;
}

.ft-video-container-full {
  text-align: center;
}

.ft-video-container-full iframe {
  height: 580px;
  width: 100%;
}

.ft-video-container-full, .ft-video-container {
  position: relative;
  padding-bottom: 56.25%;
  overflow: hidden;
  background-image: url("../images/features/loading.png");
  background-size: 120px;
  background-position: center;
  background-repeat: no-repeat;
}

.ft-video-container-full iframe,
.ft-video-container-full object,
.ft-video-container-full embed,
.ft-video-container iframe,
.ft-video-container object,
.ft-video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.steps {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.line {
  position: absolute;
  width: 95%;
  height: 50%;
  border-bottom: 2px solid #D1D1D1;
  z-index: -1;
}

.step {
  width: 20px;
  height: 20px;
  background: #fff;
  border: 2px solid #D1D1D1;
  border-radius: 50%;
}
.step.selected {
  border: 2px solid #D1D1D1;   
}
.step.completed {
  border: 2px solid #D1D1D1;
  background: #D1D1D1;
}

.paint-it-black {
  color: #fff !important;
  background-color: #222 !important;
  border-color: #222 !important;
}

.paint-it-black:hover {
  color: #63AA98 !important;
}

.home-link {
  cursor: pointer;
}

.header {
  margin-top: 6em;
  text-align: center;
}


.docs-section {
  padding: 4rem 0;
  margin-bottom: 0;}
.logo-img {
  display: block;
  text-align: center;
  margin: 4rem auto 0; }
}
.value-img {
  display: block;
  text-align: center;
  width: 90%;
  margin: 1.5rem auto 0;
}

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}

/* Larger than phone */
@media (min-width: 550px) {
  .header {
    margin-top: 10em;
  }
}

.gdpr-cookie-notice-nav-item-btn, .gdpr-cookie-notice-modal-footer-item-btn {
  background: #589a69;
}

.gdpr-cookie-notice-modal-cookie-state {
  color: #589a69;
}

.gdpr-cookie-notice-modal-cookie-input:checked+.gdpr-cookie-notice-modal-cookie-input-switch {
  background: #589a69;
  box-shadow: inset 0px 0px 0px 1px #589a69;
}

.gdpr-cookie-notice {
  background: #222;
}