@font-face{ 
  font-family: "HK Grotesk Regular";
	src: url('../fonts/hkgrotesk-regular.eot');
	src: url('../fonts/hkgrotesk-regular.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/hkgrotesk-regular.woff') format('woff'),
	     url('../fonts/hkgrotesk-regular.ttf') format('truetype'),
	     url('../fonts/hkgrotesk-regular.svg#webfont') format('svg');
}

@font-face{ 
  font-family: "HK Grotesk 300";
	src: url('../fonts/hkgrotesk-light.eot');
	src: url('../fonts/hkgrotesk-light.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/hkgrotesk-light.woff') format('woff'),
	     url('../fonts/hkgrotesk-light.ttf') format('truetype'),
	     url('../fonts/hkgrotesk-light.svg#webfont') format('svg');
}

@font-face{ 
  font-family: "HK Grotesk 600";
	src: url('../fonts/hkgrotesk-semibold.eot');
	src: url('../fonts/hkgrotesk-semibold.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/hkgrotesk-semibold.woff') format('woff'),
	     url('../fonts/hkgrotesk-semibold.ttf') format('truetype'),
	     url('../fonts/hkgrotesk-semibold.svg#webfont') format('svg');
}

body {
  font-family: "HK Grotesk Regular","Helvetica Neue","Arial",sans-serif;
  font-size: 1.7rem;

  /* background-image: url("../images/back_simple.svg"); */
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: top;
}

p {
  /* color: rgb(102, 102, 102); */

}

h1, h2, h3, h4, h5, h6 {
  font-family: "HK Grotesk 300";
}

.docs-header-main {
  font-family: "HK Grotesk 600";
  text-transform: uppercase;
  font-size: 1.8rem;
  letter-spacing: .2rem;
  text-align: left;
}

.docs-header-gray {
  font-family: "HK Grotesk 600";
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: .2rem;
  text-align: left;
  color: #747b8e;
}

.docs-header {
  font-family: "HK Grotesk 600";
  text-transform: uppercase;
  font-size: 1.8rem;
  letter-spacing: .2rem;
  text-align: left;
  margin-bottom: 3em;
}

.docs-header-tab {
  font-family: "HK Grotesk 600";
  
  text-transform: uppercase;
  font-size: 1.6rem;
  text-align: center;
}

li {
  font-size: 1.5rem;
  list-style: inside;
}

.vt-gray { color: rgb(121, 121, 121); }
.vt-green { color: #63AA98 }
.vt-black { color: #222 }


.mt12 { margin-top: 12px; }
.mt24 { margin-top: 24px; }

.mt64 { margin-top: 64px; }

.mt2 { margin-top: 2rem; }
.mb2 { margin-bottom: 2rem; }

.mt4 { margin-top: 4rem; }
.mb4 { margin-bottom: 4rem; }

.mt6 { margin-top: 6rem; }
.mb6 { margin-bottom: 6rem; }

.ml4 { margin-left: 4rem; }
.mt8 { margin-top: 8rem; }

a {
  color: #222;
  text-decoration: none;
}

a:hover {
  /* text-decoration: underline; */
}


a.text-link {
  color: #5386E4;
  text-decoration: underline;
}

a.text-link:hover {
  text-decoration: underline;
}

a.text-link:visited {
  color: #5386E4;
}


.r-tabs-state-default a {
    color: #ccc;
}

.docs-section {
  padding: 4rem 0 2rem 0;
  margin-bottom: 0;
}

.button.button-primary, button.button-primary, input[type="submit"].button-primary, input[type="reset"].button-primary, input[type="button"].button-primary {
  font-size: 0.8em;
}

table tr td:second {
  text-align: center;
}

table tr td:third {
  text-align: center;
}

.text-center {
  text-align: center;
}

.text-just {
  text-align: justify;
}

.mt-4 { margin-top: -4rem; }
.mt-4 { margin-top: -3rem; }

.vt-img {
  height: 26rem;
}

.vt-img-creator {
  height: 32rem;
}

.flip {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
}

.footer {
  height: 36rem;
  margin-top: 8em;
}

.footer-img {
  height: 2rem;
}

.formula-1 {
  height: 8rem;
}
.formula-2 {
  height: 7rem;
}
.formula-3 {
  height: 9rem;
}

table td:first-child {
  font-size: 1.5rem;
}

.text-left { text-align: left; }
.text-right { text-align: right; }


.footer-header { 
  font-size: 1.8rem;
  display: none;
}

@media (min-width: 550px) {
  .footer-header { 
    display: block;
  }
}

.footer-link-header {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 2rem;
}


.footer-link {
  display: block;
  width: fit-content;
  margin-left: auto;s
}

.footer-link:hover {
  text-decoration: underline;
}

.block { display: block; }


.docs-seperator {
  text-align: center;
}

.step-content {
  text-align: left;
  margin-top: 2em;
}

.step-gray-title {
  color:  rgb(121, 121, 121);
  display: block;
  margin-top: 0.5em;
  margin-bottom: 2em;

  font-family: "HK Grotesk 600";
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: .3rem;
}

.step-header-text {
  font-size: 18px;
  text-align: center;
}

.step-header-text-reverse {
  font-size: 18px;
  text-align: center;
}

.step-columns {
  text-align: left;
}


.step-columns p {
  padding-right: 3em;
}

.step-header-text p:first-child {
  font-weight: 400;
  display: inline;
}

.step-header-text p:last-child {
  font-weight: 600;
  display: inline;
}

.step-header-text-reverse p:first-child {
  font-weight: 600;
  display: inline;
}

.step-header-text-reverse p:last-child {
  font-weight: 400;
  display: inline;
}

.inter-header {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 35px;
}

.inter-header-small {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 1.2em;
  letter-spacing: -.05em;
  margin-bottom: 12px;
}

.sept-title {
  font-family: "HK Grotesk 600";
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: .3rem;
}

.sep-cont {
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 1px;
  max-width: 100%;
  flex: var(--flex);
  justify-content: center;
  align-items: center;
}

.line50 {
  block-size: 50px !important;
}

.sep-line {
  align-self: center;
  block-size: 100px;
  box-sizing: border-box;
  display: block;
  width: 1px;
  background: rgba(0, 0, 0, 0) linear-gradient(rgb(254, 254, 254), rgb(24, 24, 24)) repeat scroll 0% 0% / auto padding-box border-box;
  font: 16px Inter, -apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  padding: 0px 1px 0px 0px;
}

.sep-line-reverse {
  align-self: center;
  block-size: 100px;
  box-sizing: border-box;
  display: block;
  width: 1px;
  background: linear-gradient(rgb(254, 254, 254), rgb(24, 24, 24)) rgba(0, 0, 0, 0) repeat scroll invert 0% 0% / auto padding-box border-box;
  font: 16px Inter, -apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  padding: 0px 1px 0px 0px;
}

.sep-line-solid {
  align-self: center;
  block-size: 100px;
  box-sizing: border-box;
  display: block;
  width: 1px;
  background: rgba(0, 0, 0, 0) linear-gradient(rgb(24, 24, 24), rgb(24, 24, 24)) repeat scroll 0% 0% / auto padding-box border-box;
  font: 16px Inter, -apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  padding: 0px 1px 0px 0px;
}


.sep-line-long {
  align-self: center;
  block-size: 150px;
  box-sizing: border-box;
  display: block;
  width: 1px;
  background: rgba(0, 0, 0, 0) linear-gradient(rgb(254, 254, 254), rgb(24, 24, 24)) repeat scroll 0% 0% / auto padding-box border-box;
  font: 16px Inter, -apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  padding: 0px 1px 0px 0px;

}

.sep-circle {
  align-items: center;
  block-size: 40px;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  display: inline-flex;
  height: 40px;
  justify-content: center;
  text-rendering: optimizelegibility;
  border-radius: 100% 100% 100% 100%;
  width: 40px;
  background: rgba(0, 0, 0, 0) linear-gradient(90deg, rgb(24, 24, 24), rgb(102, 102, 102)) repeat scroll 0% 0% / auto padding-box border-box;
  font: 700 16px Inter, -apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  margin: 0px 0px 24px;
  outline: rgb(255, 255, 255) none 0px;
}

.navbar-logo {
  float: left;
  width: 80px;
  padding-top: 25px;
}

/* Features page */
.feature-list li {
  list-style-type: square;
}

.feature-row {
  text-align: left;
  margin-top: 4em;
}

.feature-row-center {
  text-align: center;
  margin-top: 2em;
}

.features-menu {
  list-style-type: none;
}

.features-menu li {
  font-family: "HK Grotesk 600";
  text-transform: uppercase;
  font-size: 1.4rem;
  letter-spacing: .3rem;
  color: #747b8e;
  
  display: inline;
  margin-left: 1em;
}

.features-menu .selected {
  background-color: #222;
  color: white;
  border-radius: 2px;
  padding: 2px 8px;
}

.feature-title {
  font-family: "HK Grotesk 600";
  text-transform: uppercase;
  letter-spacing: .3rem;

  font-size: 1.7rem;
  margin-bottom: 1em;
  display: block;
}

.feature-bullet {
  font-family: "HK Grotesk 600";
  text-transform: uppercase;
  letter-spacing: .3rem;
  
  font-size: 1.2rem;
  margin-bottom: 1em;
}

.ft-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 3em;
}

.ft-video-container {
  padding-top: 2em;
  text-align: center;
}

.ft-video-container iframe {
  width: 460px;
  height: 260px;
}

.steps {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.line {
  position: absolute;
  width: 95%;
  height: 50%;
  border-bottom: 2px solid #D1D1D1;
  z-index: -1;
}

.step {
  width: 20px;
  height: 20px;
  background: #fff;
  border: 2px solid #D1D1D1;
  border-radius: 50%;
  transition: background 1s;
}
.step.selected {
  border: 2px solid #D1D1D1;   
}
.step.completed {
  border: 2px solid #D1D1D1;
  background: #D1D1D1;
}

.paint-it-black {
  color: #fff !important;
  background-color: #222 !important;
  border-color: #222 !important;
}

.paint-it-black:hover {
  color: #63AA98 !important;
}

.home-link {
  cursor: pointer;
}
